<div class="login-form">
	<p style="text-align:center;margin-top:2em;margin-bottom:0;">
	<img src="https://musicollective.de/wp-content/uploads/2019/11/logo_website2-400x400.png" alt="Logo" style="width:150px;" />
	</p>
	<h1>Digitale Probe</h1>
	<p style="text-align:center;">(Cloud-Zugangsdaten verwenden)</p>
	<form action="auth" method="POST">
		<input type="text" name="username" placeholder="Benutzername" required>
		<input type="password" name="password" placeholder="Passwort" required>
		<p id="safari-warning" style="color:#dc3545;display:none;">
			Der Safari-Browser wird derzeit leider noch nicht unterstützt. Bitte wähle eine Alternative wie zum Beispiel <a href="https://www.mozilla.org/de/firefox/new/">Firefox</a>.
		</p>
		<input type="submit" value="Einloggen">
	</form>
	<p class="error" style="margin-top:1em;color:#dc3545;font-size:1em;text-align:center;">{{error}}</p>
	<p class="small text-secondary">Probleme? Schreib’ eine <a href="mailto:lars@musicollective.de?subject=[Digitale%20Probe]">Mail an Lars</a> <svg width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" enable-background="new 0 0 64 64"><circle cx="32" cy="32" r="30" fill="#ffdd67"/><g fill="#664e27"><circle cx="20.5" cy="26.6" r="5"/><circle cx="43.5" cy="26.6" r="5"/><path d="m44.6 40.3c-8.1 5.7-17.1 5.6-25.2 0-1-.7-1.8.5-1.2 1.6 2.5 4 7.4 7.7 13.8 7.7s11.3-3.6 13.8-7.7c.6-1.1-.2-2.3-1.2-1.6"/></g></svg>
	</p>
</div>

